  <div class="flex w-screen flex-wrap text-slate-800">
    <div class="relative hidden h-screen select-none flex-col justify-center bg-blue-600 text-center md:flex md:w-1/2">
      <div class="mx-auto py-16 px-8 text-white xl:w-[40rem]">
        <!-- <span class="rounded-full bg-white px-3 py-1 font-medium text-blue-600">New Feature</span>
        <p class="my-6 text-3xl font-semibold leading-10">Create animations with <span class="mx-auto block w-56 whitespace-nowrap rounded-lg bg-orange-400 py-2 text-white">drag and drop</span></p>
        <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt necessitatibus nostrum repellendus ab totam.</p>
        <a href="#" class="font-semibold tracking-wide text-white underline underline-offset-4">Learn More</a> -->
      </div>
      <!-- <img class="mx-auto w-11/12 max-w-lg rounded-lg object-cover" src="/images/SoOmmtD2P6rjV76JvJTc6.png" /> -->
    </div>
    <div class="flex w-full flex-col md:w-1/2">
      <div class="flex justify-center pt-12 md:justify-start md:pl-12">
        <a href="#" class="text-2xl font-bold text-blue-600"> ToDoist . </a>
      </div>
      <div class="my-auto mx-auto flex flex-col justify-center px-6 pt-8 md:justify-start lg:w-[28rem]">
        <p class="text-center text-3xl font-bold md:text-left md:leading-tight">Login to ToDoist</p>
        <div class="flex items-center justify-center w-full">
          <button  (click)="googleLogin()" class="-2 mt-8 w-2/4 flex items-center justify-center rounded-md border px-4 py-1 outline-none ring-gray-400 ring-offset-2 transition hover:border hover:border-blue-600 hover:text-blue-500"><img class="mr-2 h-5" height="20" width="20" src="assets/auth/google.svg" alt /> Google</button>
          <button  (click)="anonymousLogin()" class="-2 mt-8 w-2/4 flex items-center justify-center rounded-md border px-4 py-1 outline-none ring-gray-400 ring-offset-2 transition hover:border hover:border-blue-600 hover:text-blue-500">
            <span height="20" width="20" class="material-symbols-outlined mr-4">
                person_check
            </span>   
            Guest User
        </button>
        </div>
        <div class="relative mt-8 flex h-px place-items-center bg-gray-200">
          <div class="absolute left-1/2 h-6 -translate-x-1/2 bg-white px-4 text-center text-sm text-gray-500">Or use email instead</div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="flex flex-col items-stretch pt-3 md:pt-8">
          <div>
            <div class="relative mt-2 w-full">
              <input type="email" id="email" formControlName="email" autocomplete="on" class="border-1 peer block w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-2.5 pt-4 pb-2.5 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
              <label for="email" class="origin-[0] peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600 absolute left-1 top-2 z-10 -translate-y-4 scale-75 transform cursor-text select-none bg-white px-2 text-sm text-gray-500 duration-300">Enter Your Email</label>
            </div>
          </div>
          <div>
            <div class="relative mt-2 w-full">
              <input type="password" id="password" formControlName="password" autocomplete="on" class="border-1 peer block w-full appearance-none rounded-lg border border-gray-300 bg-transparent px-2.5 pt-4 pb-2.5 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
              <label for="password" class="origin-[0] peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600 absolute left-1 top-2 z-10 -translate-y-4 scale-75 transform cursor-text select-none bg-white px-2 text-sm text-gray-500 duration-300">Enter Your Password</label>
            </div>
          </div>
        
          <button type="submit" class="mt-6 rounded-lg bg-blue-600 px-4 py-2 text-center text-base font-semibold text-white shadow-md outline-none ring-blue-500 ring-offset-2 transition hover:bg-blue-700 focus:ring-2 md:w-32">Login</button>
        </form>
        
        <p class="mt-6 text-center font-medium md:text-left">
          Create ToDoist Account?
          <a routerLink="/auth/register" class="whitespace-nowrap font-semibold text-blue-700">Register here</a>
        </p>
      </div>
    </div>
  </div>
  